@model IEnumerable<cis237Assignment6.Models.Beverage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*Makes text boxes to allow user to search for specific names, pack sizes, and min/max prices*@
<div class="form-group">
    <fieldset>
        <legend>Search Filter</legend>
        @{ 
            // Create the form
            using (Html.BeginForm("Filter", "Beverages", FormMethod.Post, new { @class = "form-inline" }))
                

            {
                // CSRF token
                @Html.AntiForgeryToken()


                // Create a label and text box for the name filter
                <label for="name">Name: </label>
                @Html.TextBox("name", (string)ViewBag.filterName)
                // Create a label and text box for the pack filter
                <label for="pack"> Pack: </label>
                @Html.TextBox("pack", (string)ViewBag.filterPack)
                // Create a label and text box for the minimum price filter
                <label for="min"> Minimum Price: </label>
                @Html.TextBox("min", (string)ViewBag.filterMin)
                // Create a label and text box for the maximum price filter
                <label for="max">Maximum Price: </label>
                @Html.TextBox("max", (string)ViewBag.filterMax)

                // Create the button to post the filters
                <input type="submit" value="Filter" class="btn btn-info pull-right" />


            }
        }
    </fieldset>
</div>

<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
